@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

/* /* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
.main-body {
  min-width: 320px;
    min-height: 100vh;
}
.container-body .row {
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font: 16px/1.5 "Dosis", sans-serif;
  /* display: flex;  */
  /* linear-gradient(#1e1e2f, #1e1e24); */
  /* place-items: center; */
  background: linear-gradient(#282877, #1e1e24);
  /* min-width: 320px;
  min-height: 100vh; */
}

.container {
  min-width: 320px;
  min-height: 100vh;
}

.container-body {
  min-height: 100vh;
}

.container-profile {
  min-height: 250vh;
  background-color: white;
}
.container-profile h1{
  text-align: center;
}
.profile-logo {
  border-right: #e5e5e5 2px solid;
  display: table-cell;
    padding: 8px 8px 8px 0;
    vertical-align: top;
    width: 225px;
    height: 1000px;
}

.profile-block {
  display: block;
  width: 224px;
}

.user-image {
  display: block;
  text-align: center;
}

.user-image img {
  background-color: #c4c4c4;
    border-radius: 2px;
    color: #787878;
    display: table-cell;
    height: 225px;
    width: 200px;
    position: relative;
    text-align: center;
   border: 1px transparent rgba(0, 0, 0, 0.423);
   vertical-align: middle;
   margin-left: 13px;
}

/* Button */
.button-footer {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}
/* Header */
.page-header {
  padding: 20px;
  box-sizing: border-box;
  background-color: #212529;
}

.page-header nav {
  background-color: #212529;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-header ul li:not(:last-child) {
  padding-right: 15px;
}

.logo-main {
  padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/* #products-index img {
  width: 300px;
} */

html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}
.nav-link {
  color: white;
  font-style: bold;
}

.div-login {
  background-color: rgba(242, 222, 222, 0.327);
}
.card {
   background: linear-gradient(#7c36c2a7,#0e0e0e); 
   /* background: #0e0e0e; */
   color: #aaa;
}

.card-home {
   background: linear-gradient(#7c36c2a7,#0e0e0e); 
   /* background: #0e0e0e; */
   color: #aaa;
   height: 330px;
}
.card-search {
   background: linear-gradient(#7c36c2a7,#0e0e0e); 
   /* background: #0e0e0e; */
   color: #aaa;
}
.card-search input {
   background: linear-gradient(#a581c9a7,#3c3333); 
   /* background: #0e0e0e; */
   color: #aaa;
   width: 140px;
   height: 20px;
   padding-left:10px;
   margin-left:25px;
}
.card-header {
   background: linear-gradient(#7c36c2a7,#0e0e0e); 
   /* background: #0e0e0e; */
   color: #f7ecec;
   text-align: center;
   font-weight: bold;
}
.g-0 {
height:50px;
/* color:red; */
border-bottom:1px solid #232323;
/* border-bottom:1px solid #c6b5b5; */
}

.col-md-4 img {
min-height:100%
}

p {
  color: #998d8d;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel-text h5{
  color: white;
  box-shadow: #1e1e24;
  text-shadow: 2px 2px 4px #47186c;
  font-size: 30px;
  font-family: bold;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.carousel-text p{
  color: rgb(255, 246, 246);
  box-shadow: #070709;
  text-shadow: 5px 8px 4px #290330;
  font-size: 20px;
  font-family: bold;
}

#thumbnail-show {
  display: flex;
  /* border-radius: 25px; */
  border: 2px solid;
  width: auto;
  max-width: 100%;
  height: 720px;
}
.col-sm-8  {
  background-color: white;
}

.img-favorites {
  width: 240px;
  height: 240px;
  max-width: 100%;
  justify-content: center;
}
.favorite-header {
  height: 20px;
  padding-top:20px;
}
.img-fluid {
  object-fit: cover;
  display: block;
  max-width:230px;
  max-height:95px;
  width: 100%;
  height: 50px;
}
.carousel-pic img {
  object-fit: cover;
  display: block;
  
}
.home-fluid .img-thumbnail {
  border: 0;
  margin: 0 auto;
  box-shadow: 0 0 0 rgb(0 0 0 / 15%);
  display: block;
  object-fit: cover;
  width: 601.77px;
  height: 426px;
  overflow: clip;
  }
.img-thumbnail {
  border: 0;
  margin: 0 auto;
  box-shadow: 0 0 0 rgb(0 0 0 / 15%);
  display: block;
  object-fit: cover;
  transition: .4s;
  width: 100%;
  overflow: clip;
  }

.img-thumbnail:hover {
  border: 0;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  transform: scale(1.05);
  }
small.text-muted {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.carousel-inner{
    position: relative;
    height: 40%;
    object-fit: contain;
    overflow: hidden;
    object-fit: cover;
}
h5.card-title {
  font-size: 14px;
  padding:10px;
  margin-right:10px;
  /* font-family: Fira Sans,sans-serif; */
}

/* footer */
.page-footer {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  background-color: rgb(244, 235, 255);
}

.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
  padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-footer li {
  padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-footer ul li:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 550px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer ul {
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

/* Login form */

.footer-small{
  color:rgb(30, 22, 22);
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
}